<div class="container col-md-12 my-container">
  <app-loading-cubes *ngIf="this.loadingCubesService.getIsLoadingNow()"></app-loading-cubes>
  <div id="number-selected">{{this.getHistoryDataSelected()}} selected</div>
  <button id="delete-button" class="btn btn-outline-light" (click)="deleteSelectedHistory()">Delete</button>
  <div #scrollBarHistory  id="container-history-data">
    <ul id="u-list-history" *ngFor="let data of this.getHistoryData().reverse()">
      <li>
        <input #checkbox (change)="handleCheckBox(data, $event)" id="checkbox-delete" type="checkbox">
        <span id="time-history">{{data.startTime}} | {{data.startDate}}</span>
        <span id="title-div">{{ data.movieTitle.toString() | slice:0:35 }}{{ data.movieTitle.toString().length > 35 ? '...' : '' }} - </span>
        <span id="time-spend-history">WatchTime: <span id="time-spend-span">{{data.timeSpend}}</span> seconds</span>
        <span> on <span id="hostname-div">{{data.hostname}}</span></span>
      </li>
    </ul>
  </div>
  <mat-icon id="arrow-down-scroll" (click)="scrollDown()">keyboard_arrow_down</mat-icon>
  <mat-icon id="arrow-up-scroll" (click)="scrollUp()">keyboard_arrow_up</mat-icon>
</div>
